{% extends 'store/blank.html' %}
{% block title %}
    {{goods_data.goods_name}}商品详情
{% endblock %}
{% block blank %}
    <table class="table">
        <tr>
            <td rowspan="3"><img style="width: 200px;height: 200px;"  src="/static/{{ goods_data.goods_image }}"></td>
            <th>商品名称</th>
            <td colspan="3">{{ goods_data.goods_name }}</td>
            <tr>
             <th>商品价格</th>
            <td>{{ goods_data.goods_price }}</td>
             <th>商品数量</th>
            <td>{{ goods_data.goods_number }}</td>
        </tr>
             <tr>
             <th>商品生产日期</th>
            <td>{{ goods_data.goods_date }}</td>
             <th>商品保质期</th>
            <td>{{ goods_data.goods_safedate }}</td>
        </tr>
        <tr>
            <th colspan="5" style="text-align: center">商品描述</th>
        </tr>
        <tr>
            <th colspan="5">{{ goods_data.goods_description|safe }}</th>
        </tr>
    </table>
        <a class="btn btn-primary btn-block" href="/store/goods_update/?id={{ goods_data.id }}">修改</a>

{% endblock %}